
<div class="card">
  <h5 class="card-header">
      <ng-content select=".heading"></ng-content>
      ({{ authors.length }})
    
  </h5>
  <div class="card-body">
    <h5 class="card-title">
        <ul>
            <li *ngFor="let i of authors" >
              <i>{{i.firstName}}
              
              <app-like
                  [likesCount]="i.likes"
                  (change)="setAuthorLikes($event, i.firstName)"
              ></app-like>
            </i>
            </li>
          </ul>
      <ng-content select=".body"></ng-content>
    </h5>
  </div>
</div>