<!-- <h2>
  - {{ authors.length }} Authors -
</h2>
<ul>
  <li *ngFor="let i of authors" >
    {{i}}
  </li>
</ul> -->

<br>
<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <ng-content select=".heading"></ng-content>
  </div>
  <div class="panel-body">
    <ng-content select=".body"></ng-content>
  </div>
</div> -->

<div class="card">
  <h5 class="card-header">
      <ng-content select=".heading"></ng-content>
      ({{ authors.length }})
    
  </h5>
  <div class="card-body">
    <h5 class="card-title">
        <ul>
            <li *ngFor="let i of authors" >
              {{i}}
            </li>
          </ul>
      <ng-content select=".body"></ng-content>
    </h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>