<div class="about">

  <div class="container info">
      <div class="row">
        <div class="col">
            <label for="name">Name: </label>
            <label for="myMail">Email: </label>
            
        </div>
        <div class="col">
          <!-- USING CUSTOM DIRECTIVES TO CHANGE THE VALUE ENTERED IN THE INPUT WITH DIFFERENT PROPERTIES -->
            <!-- APPLYING DIRECTIVE AS AN ATRIVUTE AND USED AS TARGET FORMAT -->
            <input name="name" #name (keyup.enter) = "enterWasPres(name.value)" [appInputFormat]="'uppercase'" >
            <!-- APPLYING DIRECTIVE AS AN ATRIVUTE AND USE PROPERTY BINDING TO SET THE TARGET FORMAT -->
            <input 
              name="myMail" 
              [(ngModel)]="eMail" 
              (keyup.enter)="onKeyUp()" 
              appInputFormat [formato]="'lowercase'" 
              >
            <label for="myMail">
                {{eMail}}
            </label>
        </div>
        
      </div>
  </div>
  <div class="container title">
      <div class="row">
        <div class="col">
          <label for="">The Title:</label>
          <br>
        </div>
        <div class="col">
          <label for="">{{titleC | titleCase}}</label>
          <input type="title" [(ngModel)]="titleC">
          <br>
        </div>
      </div>
  </div>
<br>
<button 
  class="btn btn-primary [class.active]='isActive' " 
  
  [ngStyle]="{
    'backgroundColor': isActive ? 'blue' : 'gray',
    'color': isActive ? 'white' : 'black',
    'fontWeight': isActive ? 'bold' : 'normal'
  }"
  (click) = deactivateBtn($event)
>Save</button>

  <!-- <img src="{{ imageUrl }}" alt="Random Image"> -->

</div>