.about{
  margin: 0 0 0 80%;
}
.info, .title{
  width: 300px;
  border: 1px solid black;
  border-radius: 5px; 
  margin: 5%;
  padding: 25%;
} 
img{

  display: flex;
  border: 1px solid black;
  width: 80%;
  height: auto;
}
button{
  display: flex;
  margin: 5% 0;
  padding: 5px 10px;
  border-radius: 5px; 
}
label{
  display: flex;
  margin: 5% 0;
}
input{
  display: flex;
}