.main{
  position: relative;
  float: left;
  text-align: center;
  /* border: 1px solid black; */
  width: 20%;
  height: auto;
}
img{
  width: 50%;
  display: inline-flex;
  
}
.fav{
  display: inline-flex;
  margin: 0 0 0 1%;
  width: 5%;
  border: 1px solid black;
}
.courses, .authors, .about{
  display: inline-flex;
  margin: 0 3%;
  width: 30%;
}

.list{
  /* display: grid; */
  position: relative;
  float: left;
}