.main{
  position: relative;
  float: left;
  text-align: center;
  /* border: 1px solid black; */
  width: 20%;
  height: 100%;
}
img{
  width: 50%;
  display: inline-flex;
  
}

.courses, .authors, .about{
  display: inline-flex;
  margin: 0 3%;
  width: 35%;
}
.authors{
  width: 25%;
}


.contact-form{
  background-color: #e9e9e9;
  width: 25%;
  margin-top: 2%;
  margin-left: 23%;
  padding: 2%;
  border-radius: 5%;
}

/* .list{
  /* display: grid; 
  position: relative;
  float: left;
} */