.main{
  position: relative;
  float: left;
  text-align: center;
  /* border: 1px solid black; */
  width: 20%;
  height: auto;
}
img{
  width: 60%;
  display: inline-flex;
  
}
.courses{
  display: inline-flex;
  margin: 0 5%;
}
.authors{
  display: inline-flex;
  margin: 0 5%;
}
