<div id="coursesId">
  <h2>
    {{title}}
  </h2>
  
  <ul *ngFor="let i of courses" >
    <li> {{ i.title | uppercase}} </li>
    <li> <app-favorite [is_Fav]="post.isFavorite" (change)="onFavChanged($event)"></app-favorite>
    </li>
    <li> {{i.students | number }} </li>
    <!-- SEE HOW IT ROUND THE SECOND DECIMAL NUMBER AFTER THE POINT -->
    <li> {{i.rating | number:'1.1-2' }} </li>
    <!-- APPLY THE CURRENCY SYMBOL (USD,EUR,AUD,JPY etc...)-->
    <li> {{i.price | currency:'EUR' }} </li>
    <li> {{i.releaseDate | date:'mediumDate'}} </li>
    <li> {{i.description | summary }} </li> <!-- THE CUSTOM PIPE 'summary : 5' DEFINE THE MAXIMUM AMOUNT OF CHARACTERS TO SHOW -->
  </ul>
  

  <button 
    class="btn btn-primary [class.active]='isActive' " 
    [style.backgroundColor] = "isActive ? 'blue' : 'gray'"
    (click) = deactivateBtn($event)
  >Save</button>
  <div class="container info">
      <div class="row">
        <div class="col">
            <label for="name">Name: </label>
            <label for="myMail">Email: </label>
            
        </div>
        <div class="col">
            <input name="name" #name (keyup.enter) = "enterWasPres(name.value)" type="text">
            <input name="myMail" [(ngModel)]="eMail" (keyup.enter)="onKeyUp()">
            <label for="myMail">
                {{eMail}}
            </label>
        </div>
        
  </div>
  </div>
  <div class="container title">
      <div class="row">
        <div class="col">
          <label for="">The Title:</label>
          <br>
        </div>
        <div class="col">
          <label for="">{{titleC | titleCase}}</label>
          <input type="title" [(ngModel)]="titleC">
          <br>
        </div>
      </div>
  </div>
<br>
  <img src="{{ imageUrl }}" alt="Random Image">

