<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <!-- <button class="btn btn-sm btn-outline-secondary" type="button">Map View</button> -->
    <button 
      [class.active]="viewMode == 'courses'" 
      (click)="viewMode = 'courses'" 
      class="btn btn-sm btn-outline-secondary" 
      type="button"
    >
    Courses
    </button>
    <button 
      [class.active]="viewMode == 'authors'" 
      (click)="viewMode = 'authors'"
      class="btn btn-sm btn-outline-secondary" 
      type="button"
    >
    Authors
    </button>
    <button 
      [class.active]="viewMode == 'about'"
      (click)="viewMode = 'about'"
      class="btn btn-sm btn-outline-secondary last" 
      type="button"
    >
    About
    </button>
  </form>
</nav>
<!-- btn-outline-success -->